body {
    text-align: center;
  background-image:
  url("https://images7.alphacoders.com/322/322938.png");
}

h1 {
    font-family: Monoton;
    font-size: 60px;
    margin: 0.3em;
}
.effect{
  transition:transform .4s;
}
.effect:hover{
  transform:scale(1.10);
}

h2 {
    margin: 2em 0 0.25em;
}
font{
  font-style:sans-serif;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
  /* Start http://www.cursors-4u.com */ 
  cursor: url(http://cur.cursors-4u.net/games/gam-16/gam1500.cur),   auto !important;  /* End http://www.cursors-4u.com */
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}


